#container {
  margin: 0 auto;
  width: 710px;
}

.horizontal-list {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal-list li {
  display: inline;
  float: left;
}

.viewport {
  width: 318px;
  height: 262px;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#novella-viewport {
  float: left;
}

#image-viewport {
  float: right;
}
