#container {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}

#design-images li {
  margin: 5px;
}

#design-items {
  clear: both;
}

.horizontal-list {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal-list li {
  display: inline;
  float: left;
}

.viewport {
  position: relative;
  border: 1px solid black;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#novella-viewport {
  display: inline;
  float: left;
  width: 153px;
  height: 190px;
}

#image-viewport {
  display: inline;
  float: right;
  width: 400px;
  height: 300px;
}
